<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>Offers various services in IT industry to utilize and maximize my skills and capabilities with a vision to provide customer's needs and demands and a mission to achieve customer's satisfaction.</p>
    </div>

    <div class="row">
      <% @services.each do |service| %>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-<%= service.icon.present? ? service.icon : 'gear' %>"></i></div>
          <h4 class="title"><a href="<%= service_url(service.slug) %>"><%= service.name %></a></h4>
          <p class="description"><%= service.description %></p>
        </div>
      <% end %>
  </div>
</section>

<%= render template: "testimonials/index", locals: { testimonials: @testimonials } %>