<%= render '/shared/breadcrumbs', title: @service.name, menu: "Services", link: services_path  %>

<section class="inner-page">
  <div class="container">
    <p>
      <%= @service.description %>
    </p>
  </div>
</section>