<section id="blog" class="blog">
  <div class="container">
    <div class="section-title">
      <h2>Personal Blog</h2>
      <p>Dream, Explore & Discover the Best Tech for your Best Future!</p>
    </div>

    <%= render 'blog/nav' %>

    <div class="container blog-container" data-aos="fade-in">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="login-form bg-light mt-4 p-4">
            <%= form_with url: login_path, method: :post, class: "row g-3" do |f| %>
              <h4>Login</h4>
              <div class="col-12">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control", placeholder: "Email", value: params[:email] %>
              </div>
              <div class="col-12">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control", value: params[:password] %>
              </div>
              <div class="col-12">
                <%= render "shared/error_messages" %>
                <%= f.submit "Login", class: "btn btn-dark btn-md float-end" %>
              </div>
            <% end %>
            <hr class="mt-4">
            <div class="col-12">
              <p class="text-center mb-0">Don't have an account yet? <%= link_to "Register", register_path %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>