<section id="portfolio" class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Projects and achievements in my career when I have started working as a Web Developer since 2003.</p>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
      <% @portfolios.each do |portfolio| %>
        <div class="col-lg-4 col-md-6 portfolio-item">
          <label><%= portfolio.title %></label>
          <p>
            <i class="bi bi-arrow-right-short"></i><%= portfolio.project_date_display %>
          </p>
          <div class="portfolio-wrap">
            <%= cl_image_tag(portfolio.photo, width: 350, crop: "pad", class: "img-fluid") %>
            <div class="portfolio-links">
              <a href="<%= portfolio.photo %>" data-gall="portfolioGallery" class="venobox" title="<%= portfolio.title %>"><i class="bi bi-plus"></i></a>
              <a href="<%= portfolio_url(portfolio.slug) %>" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    // Initiate venobox (lightbox feature used in portfolio)
    $('.venobox').venobox();
  });
</script>