<%= render '/shared/breadcrumbs', title: @portfolio.title, menu: "Portfolio", link: portfolios_path %>

<section id="portfolio-details" class="portfolio-details">
  <div class="container">
    <div class="portfolio-details-container">
      <div class="owl-carousel portfolio-details-carousel">
        <% if @portfolio.portfolio_photos.present? %>
          <% @portfolio.portfolio_photos.each do |photo| %>
            <%= cl_image_tag(photo.photo, class: "img-fluid") %>
          <% end %>
        <% else %>
          <%= cl_image_tag(@portfolio.photo, class: "img-fluid") %>
        <% end %>
      </div>

      <div class="portfolio-info">
        <h3>Project information</h3>
        <ul>
          <li><strong>Client</strong>: <%= @portfolio.client %></li>
          <li><strong>Project date</strong>: <%= @portfolio.project_date %></li>
          <li><strong>Project URL</strong>: <a href="<%= @portfolio.project_url %>" target="_blank"><%= @portfolio.project_url %></a></li>
        </ul>
      </div>
    </div>

    <div class="portfolio-description">
      <h2><%= @portfolio.title %></h2>
      <p><%= @portfolio.description %></p>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $(".portfolio-details-carousel").owlCarousel({
      autoplay: true,
      dots: true,
      loop: true,
      items: 1
    });
  });
</script>