<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2><%= title %></h2>
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <% if menu.present? %>
          <li><%= link_to menu, link %></li>
        <% end %>
        <li><%= title %></li>
      </ol>
    </div>

  </div>
</section>