<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger" role="alert">
    <%= alert["message"] %>
    <% if alert["errors"].present? %>
      <ul>
        <% alert["errors"].values.each do |message| %>
          <li><%= message.first %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>