<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list"></i></button>

<header id="header">
  <div class="d-flex flex-column">
    <%= render 'shared/profile' %>
    <%= render 'shared/nav' %>
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list"></i></button>
  </div>
</header>