<nav class="nav-menu">
  <ul>
    <li class="<%= active?(root_path) %>">
      <%= link_to "<i class='bi bi-house-door'></i> <span>Home</span>".html_safe, root_path %>
    </li>
    <li class="<%= active?(about_path) %>">
      <%= link_to "<i class='bi bi-person'></i> <span>About</span>".html_safe, about_path %>
    </li>
    <li class="<%= active?(resume_path) %>">
      <%= link_to "<i class='bi bi-file-earmark'></i> <span>Resume</span>".html_safe, resume_path %>
    </li>
    <li class="<%= active?(portfolios_path) %>">
      <%= link_to "<i class='bi bi-card-image'></i> <span>Portfolio</span>".html_safe, portfolios_path %>
    </li>
    <li class="<%= active?(services_path) %>">
      <%= link_to "<i class='bi bi-gear'></i> <span>Services</span>".html_safe, services_path %>
    </li>
    <li class="<%= active?(blog_index_path) %>">
      <%= link_to "<i class='bi bi-card-list'></i> <span>Blog</span>".html_safe, blog_index_path %>
    </li>
    <li class="<%= active?(contact_path) %>">
      <%= link_to "<i class='bi bi-envelope'></i> <span>Contact</span>".html_safe, contact_path %>
    </li>
  </ul>
</nav>