<div class="profile">
  <%= cl_image_tag(current_profile.profile_photo, class: "img-fluid rounded-circle") %>
  <h1 class="text-light"><%= link_to current_profile.fullname, root_path %></h1>
  <div class="social-links mt-3 text-center">
    <% current_profile.profile_links.each do |link| %>
      <a href="<%= link.url %>" target="_blank"><i class="bi bi-<%= link.icon %>"></i></a>
    <% end %>
  </div>
</div>