<h3 class="resume-title">Education</h3>
<% educations.each do |education| %>
  <div class="resume-item education">
    <h4><%= education.course %></h4>
    <h5><%= education.date_graduated_display %></h5>
    <p><em><%= education.school_name %></em></p>
    <p><i class="bi bi-arrow-right-short"></i>Honors Received: <%= education.honors_received %></p>
  </div>
<% end %>