<h3 class="resume-title">Professional Experience</h3>
<% experiences.each do |experience| %>
  <div class="resume-item" data-aos="fade-left">
    <h4><%= experience.job_title %></h4>
    <h5><%= experience.work_period %></h5>
    <p><em><%= experience.employer_name %></em></p>
    <p><%= experience.description %></p>
  </div>
<% end %>