<h3 class="resume-title">Skills</h3>
<div class="resume-item">
  <h4>Technologies and Languages</h4>
  <div class="row skills">
    <% skills.each do |skill| %>
      <div class="progress" data-aos="fade-up">
        <span class="skill"><%= skill.skill_name %> <i class="val"><%= skill.proficiency %>%</i></span>
        <div class="progress-bar w-<%= skill.proficiency %>" role="progressbar" aria-valuenow="<%= skill.proficiency %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    <% end %>
  </div>
</div>