<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p><strong>Objective:</strong> To effectively handle a position in the IT industry that can utilize and maximize my programming and technical skills.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <%= render 'educations', educations: @educations %>
        <%= render 'skills', skills: @skills %>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <%= render 'experiences', experiences: @work_experiences %>
      </div>
    </div>
  </div>
</section>