You got a message!
===============================================

Contact Details:
--------------------------

Name: <%= @contact.name %>
Email: <%= @contact.email %>
IP Address: <%= @contact.ip_address %>

Message:
<%= @contact.message %>