<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new message!</p>
    <p>
    Contact details<br>
    --------------------------
    </p>
    <p>Name: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>IP Address: <%= @contact.ip_address %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @contact.message %></p>
  </body>
</html>