<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Home", blog_index_path, class: "nav-link #{active?(blog_index_path)}" %>
        <% if logged_in? %>
          <%= link_to "My Posts", my_posts_path, class: "nav-link #{active?(my_posts_path)}" %>
          <%= link_to "Logout", logout_path, class: "nav-link" %>
        <% else %>
          <%= link_to "Login", login_path, class: "nav-link #{active?(login_path)}" %>
        <% end %>
      </div>
    </div>
    <% if logged_in? %>
      <div class="d-flex">
        <%= link_to "Create New Post", new_blog_path, class: "btn btn-outline-dark btn-sm" %>
      </div>
    <% end %>
  </div>
</nav>