<section id="blog" class="blog">
  <div class="container">
    <div class="section-title">
      <h2>Personal Blog</h2>
      <p>Dream, Explore & Discover the Best Tech for your Best Future!</p>
    </div>

    <%= render 'blog/nav' %>

    <div class="mt-3">
      <%= render "shared/error_messages" %>
    </div>

    <div class="container blog-container" data-aos="fade-in">
      <% if @posts["data"].count == 0 %>
        <div class="alert alert-warning" role="alert">
          No available posts!
        </div>
      <% end %>

      <% @posts["data"].each do |post| %>
        <div class="blog-item">
          <div class="card m-3">
            <div class="row g-0">
              <div class="col-md-4">
                <%= cl_image_tag(post["image"], :class => "img-fluid rounded-start") if post["image"].present? %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= post["title"] %></h5>
                  <p class="card-text">
                    <small class="text-muted">
                      by <%= post["user"]["full_name"] %> |
                      <%= post["created_at"].to_s.to_time.strftime('%d %b %Y') %> |
                      <%= post["comments"] %>
                      <%= post["comments"] > 0 ? 'comments' : 'comment' %>
                    </small>
                  </p>
                  <p class="card-text">
                    <small><%= truncate(post["content"], length: 200) %></small>
                  </p>
                  <p class="card-text" style="text-align:right">
                    <%= link_to "Read more", blog_path(post["to_param"]), class: "btn btn-outline-success btn-sm" %>
                    <% if post_owner?(post["user"]) %>
                      <%= link_to "Edit Post", edit_blog_path(post["to_param"]), class: "btn btn-outline-secondary btn-sm" %>
                      <%= link_to "Delete Post", blog_path(post["to_param"]), class: "btn btn-outline-danger btn-sm", method: :delete %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>