<section id="blog" class="blog">
  <div class="container">
    <div class="section-title">
      <h2>Personal Blog</h2>
      <p>Dream, Explore & Discover the Best Tech for your Best Future!</p>
    </div>

    <%= render 'blog/nav' %>

    <div class="container blog-container" data-aos="fade-in">
      <div class="row">
        <div class="post-form bg-light mt-4 p-4">
          <%= form_with url: blog_index_path, method: :post, class: "row g-3" do |f| %>
            <h4>Create New Post</h4>
            <div class="col-12">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control", placeholder: "Title", value: params[:title] %>
            </div>
            <div class="col-12">
              <%= f.label :image %>
              <%= f.file_field :image, class: "form-control" %>
            </div>
            <div class="col-12">
              <%= f.label :content %>
              <%= f.text_area :content, rows: 5, class: "form-control", placeholder: "Content", value: params[:content] %>
            </div>
            <div class="col-12">
              <%= render "shared/error_messages" %>
              <div class="float-end">
                <%= f.submit "Save", class: "btn btn-dark btn-md" %>
                <%= f.submit "Cancel", class: "btn btn-secondary btn-md" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>