<%= render '/shared/breadcrumbs', title: truncate(@post["title"]), menu: "Blog", link: blog_index_path  %>

<section class="inner-page">
  <div class="container">
    <%= render "shared/error_messages" %>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= @post["title"] %></h5>
        <p class="card-text">
          <small><%= simple_format(@post["content"]) %></small>
        </p>
        <p class="card-text">
          <small class="text-muted">
            Posted by: <%= @post["user"]["full_name"] %> |
            <%= @post["created_at"].to_s.to_time.strftime('%d %b %Y') %> |
            <%= @post["comments"] %>
            <%= @post["comments"] > 0 ? 'comments' : 'comment' %>
          </small>
        </p>
        <% if post_owner?(@post["user"]) %>
          <p class="card-text" style="text-align:right">
            <%= link_to "Edit Post", edit_blog_path(@post["to_param"]), class: "btn btn-outline-secondary btn-sm" %>
            <%= link_to "Delete Post", blog_path(@post["to_param"]), class: "btn btn-outline-danger btn-sm", method: :delete %>
          </p>
        <% end %>
      </div>
      <%= cl_image_tag(@post["image"], :class => "card-img-bottom rounded-bottom") if @post["image"].present? %>
    </div>
  </div>
</section>