<section id="about" class="about">
  <div class="container">
    <div class="section-title content">
      <h2>About</h2>
      <h5>Memorable projects and achievements:</h5>
      <ul>
        <li><i class="bi bi-arrow-right-short"></i> My first project was a web-based accounting and inventory system using ColdFusion/Sybase platform last 2004.</li>
        <li><i class="bi bi-arrow-right-short"></i> The second project was a web-based advertising system using PHP/MySQL platform last 2006. It was my first PHP project.</li>
        <li><i class="bi bi-arrow-right-short"></i> Another project was a web-based forum using the vBulletin software package last 2007.</li>
        <li><i class="bi bi-arrow-right-short"></i> I also have a project which we call it as “TMS Analytics” using CodeIgniter framework with MySQL database last 2009. It was a one-man team project in which I have started, developed and built everything from scratch for 2 years. I considered it as my greatest achievement in web development.</li>
        <li><i class="bi bi-arrow-right-short"></i> In 2016, I have managed to migrate an old website into a Laravel-based website. I have also created some APIs to centralize and manage our backend.</li>
      </ul>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <%= cl_image_tag(current_profile.profile_photo, class: "img-fluid") %>
      </div>

      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>PHP Developer</h3>
        <p>I am currently working as a PHP Developer in Cody Web Development Inc.</p>
        <div class="row">
          <div>
            <ul>
              <% current_profile.profile_details.each do |detail| %>
                <li><i class="bi bi-arrow-right-short"></i> <strong><%= detail.title %>:</strong> <%= detail.content %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>