<section id="testimonials" class="testimonials section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet. Nec feugiat nisl pretium fusce id. Turpis massa tincidunt dui ut ornare lectus sit amet est. At imperdiet dui accumsan sit amet nulla facilisi.</p>
    </div>

    <div class="owl-carousel testimonials-carousel">
      <% testimonials.each do |testimonial| %>
        <div class="testimonial-item" data-aos="fade-up">
          <p>
            <%= testimonial.statement %>
          </p>
          <%= cl_image_tag(testimonial.photo, class: "testimonial-img") if testimonial.photo? %>
          <h3><%= testimonial.customer_name %></h3>
          <h4><%= testimonial.customer_position %></h4>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    // Testimonials carousel (uses the Owl Carousel library)
    $(".testimonials-carousel").owlCarousel({
      autoplay: true,
      dots: true,
      loop: true,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 2
        },
        900: {
          items: 3
        }
      }
    });
  });
</script>